<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SAML Inspect</title>
  <link rel="stylesheet" href="styles/default.css">
  <script src="highlight.pack.js"></script>
</head>
<body>
  <%= yield %>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
