<h1>Parsed data</h1>

<div id='saml-request'>
  <h2>SAML Request</h2>
  <pre><code><%= h @parsed_data[:saml_request] %></code></pre>
</div>

<div id='saml-response'>
  <h2>SAML Response</h2>
  <pre><code><%= h @parsed_data[:saml_response] %></code></pre>
</div>

<div id='query'>
  <h2>Query options</h2>
  <% @parsed_data[:query_params].each do |k, v| %>
    <div><span class="opt"><%= "#{k}: #{v}" %></span></div>
  <% end %>
</div>
